<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <%- include('layouts/navbar') -%>
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <!-- User Details Form -->
                    <div class="text-center mb-5">
                        <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">G TEST</span></h2>
                        <p class="lead fw-normal text-muted g-test-header-desc" id="g_test_main_description">Your current details are displayed below. Please make any necessary updates.</p>
                    </div>
                    <div class="row gx-5 justify-content-center" id="g-form-container">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <form class="g_g2_form" method="POST" enctype="application/x-www-form-urlencoded" action="/users/update">
                                <div class="card shadow border-0 rounded-4 mb-5">
                                    <!-- Display error message on save of form if validation fails -->
                                    <% if (errorMessage) { %>
                                        <div class="text-center input-error-msg">
                                            <%= errorMessage %>
                                        </div>
                                    <% } %>
                                    <!-- Personal Information Section-->
                                    <section class="card-body p-5">
                                        <div class="form-floating mb-4">
                                            <h3 class="text-primary fw-bolder mb-0">Personal Information</h3>
                                        </div>
                                        <!-- First Name -->
                                        <div class="form-floating mb-3">
                                            <!-- The value attribute of the input field is set to user.attribute_name, which prepopulates the form with the license number is submitted. -->
                                            <input class="form-control" id="firstname" name="firstname" type="text" placeholder="Enter your first name..." value="<%= user?.firstname ? user.firstname : '' %>" disabled />
                                            <label for="firstname">First name</label>
                                        </div>
                                        <!-- Last Name -->
                                        <div class="form-floating mb-3">
                                            <!-- The value attribute of the input field is set to user.attribute_name, which prepopulates the form with the license number is submitted. -->
                                            <input class="form-control" id="lastname" name="lastname" type="text" placeholder="Enter your last name..." value="<%= user?.lastname ? user.lastname : '' %>" disabled/>
                                            <label for="lastname">Last name</label>
                                        </div>
                                        <!-- Email -->
                                        <div class="form-floating mb-3">
                                            <!-- The value attribute of the input field is set to user.attribute_name, which prepopulates the form with the license number is submitted. -->
                                            <input class="form-control" id="email_add" name="email_add" type="text" placeholder="Enter your email address..." value="<%= user?.email_add ? user.email_add : '' %>" disabled/>
                                            <label for="email_add">Email address</label>
                                        </div>
                                        <!-- Age -->
                                        <div class="form-floating mb-3">
                                            <!-- The value attribute of the input field is set to user.attribute_name, which prepopulates the form with the license number is submitted. -->
                                            <input class="form-control" id="user_age" name="user_age" type="number" placeholder="Enter your age..." value="<%= user?.user_age ? user.user_age : '' %>" disabled/>
                                            <label for="user_age">Age</label>
                                        </div>
                                        <!-- DOB -->
                                        <div class="form-floating mb-3">
                                            <!-- The value attribute of the input field is set to user.attribute_name, which prepopulates the form with the license number is submitted. -->
                                            <input class="form-control" id="user_dob" name="user_dob" type="date" placeholder="Enter your date of birth..." value="<%= user?.user_dob ? user.user_dob.toISOString().split('T')[0] : '' %>" disabled/> <!-- .toISOString().split('T')[0] used to display the date in the correct format on the input field -->
                                            <label for="user_dob">Date of Birth</label>
                                        </div>
                                    </section>
                                    <!-- Car Information Section-->
                                    <section class="card-body p-5">
                                        <div class="form-floating mb-4">
                                            <h3 class="text-secondary fw-bolder mb-4">Car Information</h3>
                                        </div>
                                        <!-- Make -->
                                        <div class="form-floating mb-3">
                                            <!-- The value attribute of the input field is set to user.attribute_name, which prepopulates the form with the license number is submitted. -->
                                            <input class="form-control" id="car_make" name="car_details[car_make]" type="text" placeholder="Enter car make..." value="<%= user?.car_details?.car_make ? user.car_details.car_make : '' %>" />
                                            <label for="car_details[car_make]">Car Make</label>
                                        </div>
                                        <!-- Model -->
                                        <div class="form-floating mb-3">
                                            <!-- The value attribute of the input field is set to user.attribute_name, which prepopulates the form with the license number is submitted. -->
                                            <input class="form-control" id="car_model" name="car_details[car_model]" type="text" placeholder="Enter car model..." value="<%= user?.car_details?.car_model ? user.car_details.car_model : '' %>" />
                                            <label for="car_details[car_model]">Model</label>
                                        </div>
                                        <!-- Year -->
                                        <div class="form-floating mb-3">
                                            <!-- The value attribute of the input field is set to user.attribute_name, which prepopulates the form with the license number is submitted. -->
                                            <input class="form-control" id="car_year" name="car_details[car_year]" type="text" placeholder="Enter car year..." value="<%= user?.car_details?.car_year ? user.car_details.car_year : '' %>" <% if (errorMessage) { %> autofocus <% } %> />
                                            <label for="car_details[car_year]">Year</label>
                                        </div>
                                        <!-- Plate Number -->
                                        <div class="form-floating mb-3">
                                            <!-- The value attribute of the input field is set to user.attribute_name, which prepopulates the form with the license number is submitted. -->
                                            <input class="form-control" id="car_plate_no" name="car_details[car_plate_no]" type="text" placeholder="Enter car plate number..." value="<%= user?.car_details?.car_plate_no ? user.car_details.car_plate_no : '' %>" />
                                            <label for="car_details[car_plate_no]">Plate Number</label>
                                        </div>
                                    </section>
                                    <div class="text-center p-5 save-button">
                                        <button class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Appointment form is disabled if user has not passed g2 test -->
                    <div class="<%= !isG2Passed ? 'appointment-form-disabled' : '' %>">
                        <!-- Booking form -->
                        <div class="row gx-5 justify-content-center" id="g2_appointment_form">
                            <div class="col-lg-11 col-xl-9 col-xxl-8">
                                <div class="card shadow border-0 rounded-4 mb-5">
                                    <div class="card-body p-5" id="g2_appointment_header">
                                        <div class="form-floating mb-4">
                                            <h3 class="text-gradient fw-bolder mb-4">Appointment</h3>
                                        </div>
                                    </div>
                                    <!-- G Appointment is booked -->
                                    <% if (appointmentTimeBooked && user.appointment?.isPass == null) { %>
                                        <section class="card-body p-5 text-center" id="g2-appointment-information">
                                            <div class="appointment-info-container">
                                                <div>
                                                    <img src="/assets/appointment-booked-icon.png" />
                                                </div>
                                                Your G appointment is booked for <%= appointment_date %> at <%= appointmentTimeBooked %>.
                                            </div>
                                        </section>
                                    <!-- G appointment passed -->
                                    <% } else if (user.appointment?.isPass && user.appointment?.testType == 'G') { %>
                                        <!-- Display G2 results passed -->
                                        <section class="card-body p-5 text-center" id="g2-appointment-information">
                                            <div class="appointment-info-container test-passed">
                                                <div>
                                                    <img src="/assets/confirmation-icon.png" />
                                                </div>
                                                <div class="results-container">
                                                    <div>
                                                        Result
                                                    </div>
                                                    <div class="positive-feedback">
                                                        Pass
                                                    </div>
                                                    <div>
                                                        Examiner comments
                                                    </div>
                                                    <div class="positive-feedback">
                                                        <%= user.appointment?.comment ? user.appointment.comment.trim() : 'No comments available' %>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    <!-- Appointment Date Selection form -->
                                    <% } else { %>
                                        <% if (appointment_booking_error) { %>
                                            <!-- Section to display error on saving appointment -->
                                            <div class="text-center g2-appointment-error-msg">
                                                <%= appointment_booking_error %>
                                            </div>
                                        <% } %>
                                        <% if (user.appointment?.isPass != null && !user.appointment?.isPass) { %>
                                            <!-- Section to display error on saving appointment -->
                                            <section class="card-body p-5 text-center" id="g2-appointment-information">
                                                <div class="appointment-info-container test-passed">
                                                    <div class="results-container">
                                                        <div>
                                                            Result
                                                        </div>
                                                        <div class="negative-feedback">
                                                            Fail
                                                        </div>
                                                        <div>
                                                            Examiner comments
                                                        </div>
                                                        <div class="negative-feedback">
                                                            <%= user.appointment?.comment ? user.appointment.comment.trim() : 'No comments available' %>
                                                        </div>
                                                    </div>
                                                    <div class="lead fw-normal text-muted mb-0 result-failed-desc">Please pick a new appointment time to reschedule your G.</div>
                                                </div>
                                            </section>
                                        <% } %>
                                        <!-- Appointment Date Selection form -->
                                        <form id="g2_date_input_form" method="POST" enctype="application/x-www-form-urlencoded" action="/userAppointmentDate/loadGTimeSlots">
                                            <!-- Appointment Input Date -->
                                            <section class="card-body p-5" id="g2_app_main_date_input">
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="user_appointment_date" name="user_appointment_date" type="date" placeholder="Enter date..." value="<%= appointment_date %>" min="<%= current_date %>" onChange="this.form.submit()" />
                                                    <label for="user_appointment_date">Appointment Date</label>
                                                </div>
                                            </section>
                                        </form>
    
                                        <!-- Appointment Booking Form -->
                                        <form class="g_g2_form" method="POST" enctype="application/x-www-form-urlencoded" action="/appointments/updateGAppointment">
                                            <section class="card-body p-5" id="g2_app_booking_form">
                                                <!-- Appointment Hidden Date -->
                                                <input type="hidden" class="form-control" id="user_appointment_date" name="user_appointment_date" type="date" placeholder="Enter date..." value="<%= appointment_date %>" />
    
                                                <!-- Time Slots for selected date -->
                                                <% if (available_time_slots) { %>
                                                    <fieldset class="g2-g-time-slot-fieldset">
                                                        <legend>Select your preferred time slot</legend>
                                                        <% available_time_slots.forEach((slot, index) => { %>
                                                            <label class="form-check-label btn btn-outline-primary m-2 time-slot">
                                                                <input class="form-check-input" type="radio" name="time_slot" value="<%= slot %>" >
                                                                <span class="apt-time"><%= slot %></span>
                                                            </label>
                                                        <% }) %>
                                                    </fieldset>
                                                <% } else { %>
                                                    <div class="g2-g-no-time-slots-available">No time slots available for the selected date. Please choose a different date.</div>
                                                <% } %>
                                            </section>
                                            <div class="text-center p-5 submit-button">
                                                <button class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" type="submit">Book Appointment</button>
                                            </div>
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts') -%>
    </body>
</html>
