<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <%- include('layouts/navbar') -%>
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5" id="sign-in-up-main-container">
                    <!-- Sign In form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5" id="login-container">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <h1 class="fw-bolder">Sign In</h1>
                            <p class="lead fw-normal text-muted mb-0">Log in to schedule your road test online.</p>
                            <!-- Display error message if validation fails -->
                            <% if (errorMessage) { %>
                                <div class="text-center input-error-msg-signupin">
                                    <%= errorMessage %>
                                </div>
                            <% } %>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <form id="signInForm" method="POST" enctype="application/x-www-form-urlencoded" action="/auth/login">
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="username" name="username" type="text" placeholder="name@example.com" />
                                        <label for="username">Username</label>
                                    </div>
                                    <!-- Password input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="user_password" name="user_password" type="password" placeholder="********" />
                                        <label for="user_password">Password</label>
                                    </div>
                                    <!-- Login button -->
                                    <div class="text-center form-button">
                                        <button class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" type="submit">Login</button>
                                    </div>
                                </form>
                                <div class="text-center sign-up-option">
                                    <span>
                                        Don't have an account?&nbsp;&nbsp;
                                        <a href="/register" class="text-gradient sign-up-link">Register here</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer') -%>
        <%- include('layouts/scripts') -%>
    </body>
</html>
